In [43]:
from selenium import webdriver
import pandas as pd
browser = webdriver.Chrome('/Users/Softwares/chromedriver')

In [2]:
url = 'https://www.naukri.com/data-science-jobs-1'
browser.get(url)
parents = browser.find_elements_by_css_selector('div.row[type="tuple"]')
len(parents)

50

In [11]:
jobs_df = pd.DataFrame()
for job in parents:
    job_id = job.get_attribute('id')
    url = job.get_attribute('data-url')
    title_tag = job.find_element_by_css_selector('li.desig').get_attribute('title')
    company = job.find_element_by_css_selector('span.org').text
    exp = job.find_element_by_css_selector('span.exp').text
    loc = job.find_element_by_css_selector('span.loc').text
    skills = job.find_element_by_css_selector('span.skill').text
    salary = job.find_element_by_css_selector('span.salary').text
    date = job.find_element_by_css_selector('span.date').text

    job_dict = {
        'id': job_id, 'url': url,
        'title': title, 'company': company,
        'experience': exp, 'location': loc,
        'skills': skills, 'salary': salary,
        'date': date
    }
    jobs_df = jobs_df.append(job_dict, ignore_index=True)

In [16]:
def get_attribute(parent, selector, attribute):
    if attribute == 'text':
        val =  parent.find_element_by_css_selector(selector).text
    else:
        val = parent.find_element_by_css_selector(selector).get_attribute(attribute)
    return val

for job in parents:
    job_dict = {
            'id': job.get_attribute('id'),
            'url': job.get_attribute('data-url'),
            'title': get_attribute(job, 'li.desig', 'title'),
            'company': get_attribute(job, 'span.org', 'text'),
            'experience': get_attribute(job, 'span.exp', 'text'),
            'location': get_attribute(job, 'span.loc', 'text'),
            'skills': get_attribute(job, 'span.skill', 'text'),
            'salary': get_attribute(job, 'span.salary', 'text'),
            'date': get_attribute(job, 'span.date', 'text'),
        }
    jobs_df = jobs_df.append(job_dict, ignore_index=True)
jobs_df

,company,date,experience,id,location,salary,skills,title,url
0,Keyassignments IT Solutions Pvt Ltd,1 day ago,4-7 yrs,070518004367,Bengaluru,Not disclosed,"Python, R, Unix, Linux, SQL","Data Science @sapient(perm) ,",https://www.naukri.com/job-listings-Data-Scien...
1,"Optum, a UnitedHealth Group Company",1 day ago,8-13 yrs,050319900979,Gurgaon,Not disclosed,"Senior Manager - Data Science - Gurgaon, HR","Senior Manager - Data Science - Gurgaon, HR",https://www.naukri.com/job-listings-Senior-Man...
2,vConstruct Private Limited,1 day ago,8-13 yrs,050319008025,Pune(Hadapsar),Not disclosed,"Data Mining, Data Analysis, Data Science, Pric...",Data Science Business Manager,https://www.naukri.com/job-listings-Data-Scien...
3,Accenture,1 day ago,1-5 yrs,010319901757,Bengaluru,Not disclosed,"Python, Data modeling, MATLAB, SPSS, Computer ...",Data Science (jupyter/azure Ml/matlab),https://www.naukri.com/job-listings-Data-Scien...
4,Shell India Markets Private Limited,2 days ago,2-3 yrs,040319900570,Chennai,Not disclosed,"Factor Analysis, Deep Learning, Neural Network...",Team Lead - Data Science,https://www.naukri.com/job-listings-Team-Lead-...
5,Cognizant Technology Solutions India Ltd,15 days ago,3-6 yrs,190219004818,"Chennai, Hyderabad",Not disclosed,"Data Science / Spark, Azure ML, R, Python, Mac...",Data Science/spark Professional,https://www.naukri.com/job-listings-Data-Scien...
6,WebTek Labs Pvt. Ltd.,1 day ago,2-5 yrs,050319005958,Delhi NCR(Rajouri garden),"2,00,000 - 3,50,000 P.A.","presentable, data science, communication skill...",Data Science Trainer,https://www.naukri.com/job-listings-Data-Scien...
7,Accenture,12 days ago,1-4 yrs,220219901505,Bengaluru,Not disclosed,"MATLAB, Analytical, Python, Data mining, Analy...",Data Science (jupyter/azure Ml/matlab),https://www.naukri.com/job-listings-Data-Scien...
8,Avyayh,2 days ago,6-11 yrs,120219009028,Chennai,"10,00,000 - 18,00,000 P.A.","data science, spark, python, postgresql",Opening for Data Science With the Leadng Produ...,https://www.naukri.com/job-listings-Opening-fo...
9,Accenture,12 days ago,1-4 yrs,220219901499,Bengaluru,Not disclosed,"MATLAB, Python, Data mining, Analytics, Machin...",Data Science (jupyter/azure Ml/matlab),https://www.naukri.com/job-listings-Data-Scien...
10,HuQuo Consulting Pvt. Ltd.,1 day ago,2-5 yrs,050319005681,Gurgaon,Not disclosed,"Analyst - Data Science, Python, SQL, R, machin...",Senior Analyst - Data Science - Iit/nit/iim/xl...,https://www.naukri.com/job-listings-Senior-Ana...
11,Value C Consulting Services Private Limited,3 days ago,10-20 yrs,030319000605,"Singapore, United Kingdom (U.K)","50,00,000 - 1 Cr & above P.A.",Data Scientist,Vice President- Data Science,https://www.naukri.com/job-listings-Vice-Presi...
12,Impendi Analytics,1 day ago,1-3 yrs,010319902764,Delhi,Not disclosed,"statistical modeling, predictive modeling, r, ...",Business Analyst - Data Science - Iit/bits/nsit,https://www.naukri.com/job-listings-Business-A...
13,Crescendo Global Services,1 day ago,6-10 yrs,020319002201,Delhi NCR,"18,00,000 - 25,00,000 P.A.","Natural Language Processing, Data Science, Mac...",Manager- Data Science Machine Learning Enginee...,https://www.naukri.com/job-listings-Manager-Da...
14,Allstate Solutions Private Limited,6 days ago,2-4 yrs,270219904507,Bengaluru,Not disclosed,"hadoop, hive, deep learning, r, text mining, m...",Consultant - Data Science,https://www.naukri.com/job-listings-Consultant...
15,Amazon Development Centre (India) Pvt. Ltd.,5 days ago,3-8 yrs,260219009302,Chennai,"12,00,000 - 22,00,000 P.A.","data science, business analysis, sql, Analytic...",Product Analyst (data Science),https://www.naukri.com/job-listings-Product-An...
16,Accenture,12 days ago,1-4 yrs,220219901498,Bengaluru,Not disclosed,"MATLAB, Python, Data mining, Analytics, Machin...",Data Science (jupyter/azure Ml/matlab),https://www.naukri.com/job-listings-Data-Scien...
17,Tiger Analytics,6 days ago,2-6 yrs,280219901770,Chennai,Not disclosed,"C, Data Science, Machine Learning, R, Python, ...",Senior Analyst - Data Science,https://www.naukri.com/job-listings-Senior-Ana...
18,QuickXpert Infotech,4 days ago,3-8 yrs,250219001537,"Mumbai, Navi Mumbai, Thane",Not disclosed,"machine learning, artificial intelligence, art...","Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...
19,Emerging India,12 days ago,3-8 yrs,220219005029,"Delhi NCR, Noida","6,00,000 - 10,00,000 P.A.","deep learning, r, nosql, data science, nlp, sq...",Data Scientist/data Science Trainer,https://www.naukri.com/job-listings-Data-Scien...
20,Accenture,13 days ago,2-5 yrs,200219900928,Bengaluru,Not disclosed,"Python, MATLAB, Data mining, Machine learning,...",Data Science (jupyter/azure Ml/matlab),https://www.naukri.com/job-listings-Data-Scien...
21,Fidel Softech Pvt. Ltd,5 days ago,3-7 yrs,010319003738,Japan,Not disclosed,"data science, elixir, python, scala, Data Visu...",Data Science Engineer,https://www.naukri.com/job-listings-Data-Scien...
22,Allstate Solutions Private Limited,6 days ago,6-8 yrs,270219904505,Bengaluru,Not disclosed,"Hadoop, Hive, Deep Learning, R, Text Mining, M...",Lead Consultant - Data Science,https://www.naukri.com/job-listings-Lead-Consu...
23,Search Folks,5 days ago,5-10 yrs,270219904274,Bengaluru,Not disclosed,"Spark, Hive, Oozie, Sqoop, SCALA, Big Data, El...",Data Science Engineer - AWS Certified,https://www.naukri.com/job-listings-Data-Scien...
24,Allstate Solutions Private Limited,6 days ago,6-8 yrs,270219904504,Bengaluru,Not disclosed,"Hadoop, Hive, Deep Learning, R, Text Mining, M...",Lead Consultant - Data Science,https://www.naukri.com/job-listings-Lead-Consu...
25,Dataone,13 days ago,4-7 yrs,210219006647,Ahmedabad,Not disclosed,"Data Science, Machine Learning, Open Source",Senior Data Science Engineer,https://www.naukri.com/job-listings-Senior-Dat...
26,Cognizant,5 days ago,3-6 yrs,260219006665,"Hyderabad, Chennai",Not disclosed,"Data Science, Machine Learning, Python, R, Spa...",Data Science/spark Developer - Machine Learnin...,https://www.naukri.com/job-listings-Data-Scien...
27,rp consultant,7 days ago,5-10 yrs,270219000191,"Bengaluru, Chennai, Hyderabad","12,00,000 - 22,00,000 P.A.",".net, java, cloud, devops, hadoop, asic / soc ...","Asic/soc Verification Experts in Ie&s,.net/ang...",https://www.naukri.com/job-listings-Asic-soc-V...
28,TalPro,7 days ago,8-12 yrs,270219002811,"Delhi NCR, Mumbai, Bengaluru, Gurgaon",Not disclosed,"Machine Learning, Web Technologies, Chief Inte...",Chief Intelligence Officer - Data Science & An...,https://www.naukri.com/job-listings-Chief-Inte...
29,Blue Jay Finlease Limited,5 days ago,8-12 yrs,270219004361,Delhi NCR,"20,00,000 - 35,00,000 P.A.","Data Science, Machine Learning, Python, R, SQL...",Data Science Manager || Ziploan,https://www.naukri.com/job-listings-Data-Scien...
...,...,...,...,...,...,...,...,...,...
120,Accenture,13 days ago,2-5 yrs,200219900928,Bengaluru,Not disclosed,"Python, MATLAB, Data mining, Machine learning,...",Data Science (jupyter/azure Ml/matlab),https://www.naukri.com/job-listings-Data-Scien...
121,Fidel Softech Pvt. Ltd,5 days ago,3-7 yrs,010319003738,Japan,Not disclosed,"data science, elixir, python, scala, Data Visu...",Data Science Engineer,https://www.naukri.com/job-listings-Data-Scien...
122,Allstate Solutions Private Limited,6 days ago,6-8 yrs,270219904505,Bengaluru,Not disclosed,"Hadoop, Hive, Deep Learning, R, Text Mining, M...",Lead Consultant - Data Science,https://www.naukri.com/job-listings-Lead-Consu...
123,Search Folks,5 days ago,5-10 yrs,270219904274,Bengaluru,Not disclosed,"Spark, Hive, Oozie, Sqoop, SCALA, Big Data, El...",Data Science Engineer - AWS Certified,https://www.naukri.com/job-listings-Data-Scien...
124,Allstate Solutions Private Limited,6 days ago,6-8 yrs,270219904504,Bengaluru,Not disclosed,"Hadoop, Hive, Deep Learning, R, Text Mining, M...",Lead Consultant - Data Science,https://www.naukri.com/job-listings-Lead-Consu...
125,Dataone,13 days ago,4-7 yrs,210219006647,Ahmedabad,Not disclosed,"Data Science, Machine Learning, Open Source",Senior Data Science Engineer,https://www.naukri.com/job-listings-Senior-Dat...
126,Cognizant,5 days ago,3-6 yrs,260219006665,"Hyderabad, Chennai",Not disclosed,"Data Science, Machine Learning, Python, R, Spa...",Data Science/spark Developer - Machine Learnin...,https://www.naukri.com/job-listings-Data-Scien...
127,rp consultant,7 days ago,5-10 yrs,270219000191,"Bengaluru, Chennai, Hyderabad","12,00,000 - 22,00,000 P.A.",".net, java, cloud, devops, hadoop, asic / soc ...","Asic/soc Verification Experts in Ie&s,.net/ang...",https://www.naukri.com/job-listings-Asic-soc-V...
128,TalPro,7 days ago,8-12 yrs,270219002811,"Delhi NCR, Mumbai, Bengaluru, Gurgaon",Not disclosed,"Machine Learning, Web Technologies, Chief Inte...",Chief Intelligence Officer - Data Science & An...,https://www.naukri.com/job-listings-Chief-Inte...
129,Blue Jay Finlease Limited,5 days ago,8-12 yrs,270219004361,Delhi NCR,"20,00,000 - 35,00,000 P.A.","Data Science, Machine Learning, Python, R, SQL...",Data Science Manager || Ziploan,https://www.naukri.com/job-listings-Data-Scien...
130,AXA Business Services Pvt Ltd,9 days ago,3-5 yrs,250219002649,Bengaluru,Not disclosed,"Text Mining, Data Science, Java, Machine Learn...",Associate Data Science Consultant,https://www.naukri.com/job-listings-Associate-...
131,Crosstab IT Consulting,1 day ago,14-18 yrs,010319903158,Bengaluru,Not disclosed,"ML, AI, Python, R, Data Science, AI / ML Resea...",Sr. Manager Data Science,https://www.naukri.com/job-listings-Sr-Manager...
132,TalentStack/ The Hiring Story,1 day ago,3-7 yrs,020319001085,Mumbai,Not disclosed,"sql database, r, analytics, macros, time serie...",Data Science Developer - Analytics/alteryx,https://www.naukri.com/job-listings-Data-Scien...
133,American Express Company,2 days ago,0-3 yrs,040319500081,Gurgaon,Not disclosed,"Unix, Monitoring, Python, Analytics, Machine l...",Business Analyst/ Asst. Manager - Global Comme...,https://www.naukri.com/job-listings-Business-A...
134,Asterion Consulting Pvt. Ltd,1 day ago,4-8 yrs,210219007404,Bengaluru,Not disclosed,"deep learning, text mining, data science, hive...",Lead - Data Science,https://www.naukri.com/job-listings-Lead-Data-...
135,TalPro,7 days ago,8-12 yrs,270219001836,"Delhi NCR, Mumbai, Bengaluru, Gurgaon",Not disclosed,"Machine Learning, Chief Intelligence Officer, ...",Chief Intelligence Officer - Data Science & An...,https://www.naukri.com/job-listings-Chief-Inte...
136,Atria Biosciences,5 days ago,0-2 yrs,010319003178,"Mumbai, Bengaluru, Chennai, Hyderabad, Pune, K...","3,00,000 - 4,75,000 P.A.","Data Science, Big Data, big analysis, R Progra...",Immediately Need Data Science Instructor,https://www.naukri.com/job-listings-Immediatel...
137,Jardine Lloyd Thompson India Pvt Ltd.,2 days ago,5-7 yrs,040319501012,Mumbai,Not disclosed,"Sql, Macros, Analytical, Automation, Open Sour...",Senior Specialist Data Science,https://www.naukri.com/job-listings-Senior-Spe...
138,Huquo Consulting Pvt. Ltd,6 days ago,2-5 yrs,280219901594,Gurgaon,Not disclosed,"Machine Learning, Neural Networks, Data Scienc...",Analyst - Data Science - Consulting Firm,https://www.naukri.com/job-listings-Analyst-Da...
139,DIGIFOCAL IT SOLUTIONS PRIVATE LIMITED,5 days ago,2-5 yrs,280119001294,Mumbai,"5,00,000 - 10,00,000 P.A.","sas, r, python, analytics, machine learning, p...",Job Opening for Data Science,https://www.naukri.com/job-listings-Opening-fo...
140,American Express Services India Pvt. Ltd.,2 days ago,0-3 yrs,040319500094,Gurgaon,Not disclosed,"Unix, Monitoring, Python, Analytics, Machine l...",Business Analyst/ Asst. Manager - Global Comme...,https://www.naukri.com/job-listings-Business-A...
141,Asterion Consulting Pvt. Ltd,1 day ago,10-20 yrs,250219002257,Bengaluru,Not disclosed,"Data Science, Machine Learning, Project Planni...",Senior Consultant (machine Learning & Data Sci...,https://www.naukri.com/job-listings-Senior-Con...
142,CareerNet,13 days ago,6-9 yrs,210219900633,Bengaluru,Not disclosed,"Data Science, Selenium Webdriver, Machine Lear...",Senior Customer Success Specialist - Data Scie...,https://www.naukri.com/job-listings-Senior-Cus...
143,Naresh I Technologies,4 days ago,4-9 yrs,280119006091,Hyderabad,Not disclosed,"Data Science, Machine Learning, Big Data, R pr...",Data Science Trainer,https://www.naukri.com/job-listings-Data-Scien...
144,Sabre Travel Technologies Pvt. Ltd,5 days ago,5-8 yrs,270219005491,Bengaluru,"17,00,000 - 25,00,000 P.A.","c, c++, java, python, data science, microservi...",Senior Operations Research / Data Science,https://www.naukri.com/job-listings-Senior-Ope...
145,Asterion Consulting Pvt. Ltd,1 day ago,8-13 yrs,220219008815,Bengaluru,Not disclosed,"data science, Machine learning, python, Deep L...",AVP - Data Science,https://www.naukri.com/job-listings-AVP-Data-S...
146,Crescendo Global Services,1 day ago,2-5 yrs,020319002371,Gurgaon,"9,00,000 - 12,00,000 P.A.",Python,Deputy Manager- (2-4 yrs )- Python/data Science,https://www.naukri.com/job-listings-Deputy-Man...
147,Karvy Insights Limited,6 days ago,3-5 yrs,280219006986,Delhi NCR(Hauz Khas),Not disclosed,"Data Science, Survey Programmer, survey develo...",Senior Executive Data Science,https://www.naukri.com/job-listings-Senior-Exe...
148,Impetus Career Consultants Private Limited,7 days ago,9-14 yrs,190618007851,Pune,Not disclosed,"cloudera, hive, hbase, big data, data science,...",Urgent Opening for Data Science for a Large MNC,https://www.naukri.com/job-listings-Urgent-Ope...
149,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"Mumbai, Navi Mumbai, Thane",Not disclosed,"machine learning, artificial intelligence, art...","Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...

In [13]:
jobs_df.to_csv('jobs_datascience.csv', index=False)

### Looping through multiple pages

In [21]:
def get_attribute(parent, selector, attribute):
    try:
        if attribute == 'text':
            val =  parent.find_element_by_css_selector(selector).text
        else:
            val = parent.find_element_by_css_selector(selector).get_attribute(attribute)
    except:
        val = None
    return val

import time
jobs_df = pd.DataFrame()
for i in range(1, 10):
    url = 'https://www.naukri.com/data-science-jobs-%d' % (i)
    browser.get(url)
    time.sleep(2)
    print(i)
    parents = browser.find_elements_by_css_selector('div.row[type="tuple"]')
    for job in parents:
        job_dict = {
                'id': job.get_attribute('id'),
                'url': job.get_attribute('data-url'),
                'title': get_attribute(job, 'li.desig', 'title'),
                'company': get_attribute(job, 'span.org', 'text'),
                'experience': get_attribute(job, 'span.exp', 'text'),
                'location': get_attribute(job, 'span.loc', 'text'),
                'skills': get_attribute(job, 'span.skill', 'text'),
                'salary': get_attribute(job, 'span.salary', 'text'),
                'date': get_attribute(job, 'span.date', 'text'),
            }
        jobs_df = jobs_df.append(job_dict, ignore_index=True)

1
2
3
4
5
6
7
8
9

## Scraping OYO Rooms in Bangalore

In [24]:
browser.get('https://www.oyorooms.com/oyos-in-bangalore')

In [25]:
parents = browser.find_elements_by_css_selector('div.newHotelCard')
len(parents)

21

In [32]:
for room in parents:
    name = get_attribute(room, 'span.newHotelCard__hotelName', 'text')
    location = get_attribute(room, 'span.newHotelCard__hotelAddress', 'text')
    actual_price = get_attribute(room, 'span.newHotelCard__revisedPricing', 'text')
    discount = get_attribute(room, 'div.newHotelCard__discount', 'text')
    rating = get_attribute(room, 'span.hotelRating__value', 'text')
    count_ratings = get_attribute(room, 'div.hotelRating__count', 'text')
    img_src = get_attribute(room, 'img.carousal__image ', 'src')
    print(name, actual_price, discount, rating, img_src)

OYO 10521 GCK Suites ₹ 2275 62% OFF 4.4 https://images.oyoroomscdn.com/uploads/hotel_image/17534/medium/8a98841ad8a1228d.jpg
None None None None None
OYO 29293 Athithi Comforts ₹ 1257 41% OFF 4.3 https://www.oyorooms.com/images/transparent-c4a2b870062c2bb98c500bc1526c0498.png
OYO 7558 Galaxy Comfort Inn ₹ 1982 54% OFF 4.6 https://www.oyorooms.com/images/transparent-c4a2b870062c2bb98c500bc1526c0498.png
OYO 28067 Shree Comforts ₹ 1409 49% OFF 4.5 https://www.oyorooms.com/images/transparent-c4a2b870062c2bb98c500bc1526c0498.png
OYO 22940 Sri Durga Residency ₹ 1747 59% OFF 4.6 https://www.oyorooms.com/images/transparent-c4a2b870062c2bb98c500bc1526c0498.png
OYO 16760 Blueberry ₹ 2217 39% OFF 4.4 https://www.oyorooms.com/images/transparent-c4a2b870062c2bb98c500bc1526c0498.png
OYO 16803 Hotel Blueberry ₹ 1951 49% OFF 4.4 https://www.oyorooms.com/images/transparent-c4a2b870062c2bb98c500bc1526c0498.png
OYO 9633 Hotel Srinidhi Residency ₹ 2417 50% OFF 4.7 https://www.oyorooms.com/images/transparent-c4a2b870062c2bb98c500bc1526c0498.png
OYO Flagship 5360 Bellandur Outer ring road ₹ 1854 25% OFF 4.2 https://www.oyorooms.com/images/transparent-c4a2b870062c2bb98c500bc1526c0498.png
OYO 23030 Hotel Gtv Comforts ₹ 1452 45% OFF 4.6 https://www.oyorooms.com/images/transparent-c4a2b870062c2bb98c500bc1526c0498.png
OYO 29020 Vm Comfort ₹ 1332 25% OFF None https://images.oyoroomscdn.com/uploads/hotel_image/49977/medium/918af1abbb20bdfb.jpg
Capital O 30373 Himalaya By Monarch ₹ 2093 25% OFF None https://images.oyoroomscdn.com/uploads/hotel_image/51609/medium/8ca9c12e07807b03.jpg
OYO 10534 Hotel Kanishka ₹ 1660 25% OFF 4.2 https://www.oyorooms.com/images/transparent-c4a2b870062c2bb98c500bc1526c0498.png
OYO 26708 Sky Palace ₹ 1515 50% OFF 3.6 https://www.oyorooms.com/images/transparent-c4a2b870062c2bb98c500bc1526c0498.png
OYO Townhouse 047 Kanakpura Road ₹ 3517 60% OFF 4.7 https://www.oyorooms.com/images/transparent-c4a2b870062c2bb98c500bc1526c0498.png
OYO 14424 Saarang Forever ₹ 1905 37% OFF 4.5 https://www.oyorooms.com/images/transparent-c4a2b870062c2bb98c500bc1526c0498.png
OYO 28285 Maruthi- Luxury Rooms ₹ 1738 58% OFF 4.1 https://www.oyorooms.com/images/transparent-c4a2b870062c2bb98c500bc1526c0498.png
OYO 30525 Dwarka Grand ₹ 1601 25% OFF None https://www.oyorooms.com/images/transparent-c4a2b870062c2bb98c500bc1526c0498.png
OYO 345 Hotel Red Mount Aquilla ₹ 2479 50% OFF 4.5 https://www.oyorooms.com/images/transparent-c4a2b870062c2bb98c500bc1526c0498.png
OYO 6823 Apartment Bellandur ₹ 1971 49% OFF 4.6 https://www.oyorooms.com/images/transparent-c4a2b870062c2bb98c500bc1526c0498.png

## Clicking button through python

In [37]:
browser.get('https://www.naukri.com/data-science-jobs')

In [52]:
browser = webdriver.Chrome('/Users/Softwares/chromedriver')
browser.get('https://www.naukri.com/data-science-jobs')
jobs_df = pd.DataFrame()
page = 1
while True:
    parents = browser.find_elements_by_css_selector('div.row[type="tuple"]')
    for job in parents:
        job_dict = {
                'id': job.get_attribute('id'),
                'url': job.get_attribute('data-url'),
                'title': get_attribute(job, 'li.desig', 'title'),
                'company': get_attribute(job, 'span.org', 'text'),
                'experience': get_attribute(job, 'span.exp', 'text'),
                'location': get_attribute(job, 'span.loc', 'text'),
                'skills': get_attribute(job, 'span.skill', 'text'),
                'salary': get_attribute(job, 'span.salary', 'text'),
                'date': get_attribute(job, 'span.date', 'text'),
            }
        jobs_df = jobs_df.append(job_dict, ignore_index=True)
    print(jobs_df.shape)
    try:        
        button = browser.find_elements_by_css_selector('button.grayBtn')[-1]
        if button.text == 'Next':
            button.click()
        else:
            break
        time.sleep(2)
    except Exception as e:
        print(e)
        break
    
jobs_df.shape

(50, 9)
(100, 9)
(150, 9)
(200, 9)
(250, 9)
(300, 9)
(350, 9)
(400, 9)
(450, 9)
(500, 9)
(550, 9)
(551, 9)
(551, 9)
list index out of range

(551, 9)

In [51]:
jobs_df['id'].nunique()

600